# Configuration settings for all YDB cluster nodes

ansible_python_interpreter: /usr/bin/python3

# libidn compiled code.
# Required for RHEL 8, RHEL 9 and similar (AlmaLinux, etc)
# libidn_archive: libidn.tar.gz

# YDB cluster domain (aka cluster identifier), Root in the documentation
ydb_domain: Domain0

# YDB cluster name
ydb_cluster: cluster1

# YDB software installation directory
ydb_dir: /opt/ydb

# Source directory with TLS keys and certificares
ydb_tls_dir: ./tls/CA/certs/2023-03-09_16-49-39

# YDB server software archive
ydb_archive: yasubd-24.1.18.1-linux-amd64.tar.gz

# YDB server software release
ydb_version: 24.1.18.1

# Extra options passed to tar for unpack, typically "--strip-component=1"
ydb_unpack_options: "--strip-component=1"

# Database name for the dynamic nodes
ydb_dbname: testdb

# YDB default storage pool kind, as specified in the static nodes
#   configuration file in the storage_pool_types.kind field
ydb_pool_kind: ssd

# Default number of groups per newly created database
ydb_default_groups: 9

# Name of YDB cluster configuration file
ydb_config: config.yaml

# Number of cores for static and dynamic nodes
ydb_cores_static: 31
ydb_cores_dynamic: 14

# YDB physical disk device names and labels for static nodes
ydb_disks:
    - name: /dev/vdb
      label: ydb_disk_1
# Configuration settings for dynamic YDB cluster nodes

# The list of exactly three node brokers (static nodes)
ydb_brokers:
  - ycydb-s1
  - ycydb-s2
  - ycydb-s3

# The list of dynnodes to run on each host
#  instance is the service suffix
#  offset is the integer added to base port numbers
#  affinity is optional, and is the vCPU mask to run the service
# To check: for pid in `pgrep ydbd`; do sudo taskset -cp $pid; done
ydb_dynnodes:
  - { instance: 'a', offset: 0, affinity: '32-47' }
  - { instance: 'b', offset: 1, affinity: '48-63' }
  - { instance: 'c', offset: 2, affinity: '64-79' }
  - { instance: 'd', offset: 3, affinity: '80-95' }
  - { instance: 'e', offset: 4, affinity: '96-111' }
  - { instance: 'f', offset: 5, affinity: '112-127' }

# Optional parameter defining the CPU affinity of static nodes' services
ydb_affinity_static: '0-31'

# Extra sleep time to allow dynamic nodes to settle up
dynnode_restart_sleep_seconds: 30
