#! /bin/sh
# Safely format YDB disks, with pre-checks to avoid re-formatting.
# WARNING: this script should not be used with non-default YDB encryption key!

# Default (built-in) YDB encryption key
YDB_KEY=8229298086344098676
export YDB_KEY

LD_LIBRARY_PATH={{ ydb_dir }}/lib
export LD_LIBRARY_PATH

set +e
set +u

# If GNU Parted is install, prefer it, otherwise switch to sgdisk
MODE=parted
which parted >/dev/null 2>&1
RC=$?
if [ ! $RC -eq 0 ]; then
  MODE=sgdisk
fi

set -e

disk_name="$1"
disk_label="$2"
disk_part=/dev/disk/by-partlabel/"$2"

if [ -z "$disk_name" ] || [ -z "disk_label" ]; then
    echo "USAGE: $0 /dev/vdb ydb_disk_1" >&2
    exit 2
fi

if [ ! -b "$disk_name" ]; then
    echo "ERROR: disk $disk_name is not a block device" >&2
    exit 1
fi

date >&2
echo "Running $0 $*" >&2

if [ ! -e "$disk_part" ]; then
    echo "Re-generating partition table for ${disk_name} on "`hostname -f` >&2
    if [ "$MODE" == "parted" ]; then
        parted ${disk_name} mklabel gpt -s
        parted -a optimal ${disk_name} mkpart primary '0%' '100%'
        parted ${disk_name} name 1 ${disk_label}
        partprobe ${disk_name}
    else
        sgdisk -o ${disk_name}
        sgdisk -n 1:2048:0 ${disk_name}
        sgdisk -c 1:${disk_label} ${disk_name}
    fi
    sleep 1
    dd if=/dev/zero of=${disk_part} bs=1M count=1 status=none
fi

set +e
{{ ydb_dir }}/bin/ydbd admin bs disk info -k ${YDB_KEY} ${disk_part} >/dev/null 2>&1
CHECK_RESULT=$?
set -e
if [ $CHECK_RESULT -eq 0 ]; then
    echo "Found pre-formatted YDB disk ${disk_part} on "`hostname -f` >&2
else
    OVAL0='3a3ed164e42500a1c5b2d0093f0a813d27dc50d038f330cc100a7e70ece2e6e4'
    OVAL1=`dd if=${disk_part} bs=1024 count=96 status=none | sha256sum | (read x y && echo $x)`
    if [ "${OVAL0}" == "${OVAL1}" ]; then
        echo "Found pre-obliterated YDB disk ${disk_part} on "`hostname -f` >&2
    else
        echo "Formatting YDB disk ${disk_part} on "`hostname -f` >&2
        {{ ydb_dir }}/bin/ydbd admin bs disk obliterate ${disk_part}
    fi
fi

# End Of File
