#jinja2: trim_blocks:False
[Unit]
Description=YDB storage node
After=network-online.target rc-local.service
Wants=network-online.target
StartLimitInterval=10
StartLimitBurst=15

[Service]
Restart=always
RestartSec=1
User=ydb
PermissionsStartOnly=true
SyslogIdentifier=ydbd
SyslogFacility=daemon
SyslogLevel=err
WorkingDirectory={{ ydb_dir }}/audit/storage
Environment=LD_LIBRARY_PATH={{ ydb_dir }}/lib
ExecStart={{ ydb_dir }}/bin/ydbd server --node static --tcp \
    --yaml-config  {{ ydb_dir }}/cfg/ydbd-static.yaml \
    --grpcs-port 2135 --ic-port 19001 --mon-port 8765 --mon-cert {{ ydb_dir }}/certs/web.pem
LimitNOFILE=65536
LimitCORE=0
#LimitCORE=infinity
LimitMEMLOCK=3221225472
{%- if ydb_affinity_static is defined %}
CPUAffinity={{ ydb_affinity_static }}
{%- endif %}

[Install]
WantedBy=multi-user.target
