[Unit]
Description=YDB storage node
StartLimitInterval=10
StartLimitBurst=15
After=network-online.target rc-local.service ydb-transparent-hugepages.service
Wants=network-online.target

[Service]
Type=simple
User=ydb
UMask=077
PermissionsStartOnly=true
Environment=LD_LIBRARY_PATH={{ ydb_dir }}/lib
ExecStart={{ ydb_dir }}/bin/ydbd server \
{% if ydb_config_v2 | default(false) %}
    --config-dir {{ ydb_dir }}/cfg \
{% else %}
    --yaml-config  {{ ydb_dir }}/cfg/ydbd-config-static.yaml \
{% endif %}
{% if ydb_back_number is defined %}
    --node {{ ydb_back_number }} \
{% else %}
    --node static \
{% endif %}
{% if ydb_front is defined %}
    --grpc-public-host {{ ydb_front }} \
{% endif %}
    --grpcs-port 2135 --grpc-ca {{ ydb_dir }}/certs/ca.crt \
    --ic-port 19001 --ca {{ ydb_dir }}/certs/ca.crt \
    --mon-port 8765 --mon-cert {{ ydb_dir }}/certs/web.pem
LimitNOFILE=65536
LimitCORE=0
LimitMEMLOCK=3221225472
Restart=always
RestartSec=1
SyslogIdentifier=ydbd
SyslogFacility=daemon
SyslogLevel=err
{% if ydb_affinity_static is defined %}
CPUAffinity={{ ydb_affinity_static }}
{% endif %}

[Install]
WantedBy=multi-user.target
