#! /bin/sh
# Wait for initial YDB storage node startup.

set +e
set +u

DB_ENDPOINT=grpcs://"$1":2135
DB_DOMAIN=/{{ ydb_domain }}
CAFILE={{ ydb_dir }}/certs/ca.crt
PASSFILE={{ ydb_dir }}/certs/secret

LD_LIBRARY_PATH={{ ydb_dir }}/lib
export LD_LIBRARY_PATH

PATH={{ ydb_dir }}/bin:$PATH
export PATH

USE_ENV_AUTH=0
if [ -f ${PASSFILE} ]; then
    USE_ENV_AUTH=1
    . ${PASSFILE}
fi

run_discovery() {
    if [ ${USE_ENV_AUTH} -eq 1 ]; then
        ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} \
            discovery list >/dev/null 2>&1
    else
        ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} \
            --user root --no-password discovery list >/dev/null 2>&1
    fi
}

COUNTER=0
while true; do
    if run_discovery; then
        exit 0
    fi
    COUNTER=$((COUNTER + 1))
    if [ $COUNTER -gt 36 ]; then
        if run_discovery; then
            exit 0
        fi
        echo "ERROR: storage node did not appear in 3 minutes" >&2
        exit 1
    fi
    sleep 5
done

# End Of File