- name: Get PIDs of YDBD
  shell: pgrep ydbd | wc -l
  register: pids_of_ydbd

- name: Check presence of YDBD
  when: pids_of_ydbd.stdout != "0"
  ansible.builtin.fail:
    msg: "aborting playbook execution. Stop running YDB instances"

- name: Check if required variables are defined
  ansible.builtin.assert:
    that:
      - "{{ item }} is defined"
    fail_msg: "{{ item }} variable is required"
  loop:
    - ydb_cores_static
    - ydb_disks
    - ydb_domain
    - ydb_user
    - ydb_use_dynamic_config

- name: check if required secrets are defined
  no_log: true
  ansible.builtin.assert:
    that:
      - "{{ item }} is defined"
    fail_msg: "{{ item }} secret is required"
  loop:
    - ydb_password

- name: Add the disk formatting script
  template: src=safe_format.j2 dest={{ ydb_dir }}/home/safe_format.sh mode='755'

- name: Add the static node startup wait script
  template: src=wait_initial.j2 dest={{ ydb_dir }}/home/wait_initial.sh mode='755'

- name: Add the storage recovery wait script
  template: src=wait_normal.j2 dest={{ ydb_dir }}/home/wait_normal.sh mode='755'

- name: Add the storage initialization script
  template: src=init_storage.j2 dest={{ ydb_dir }}/home/init_storage.sh mode='755'

- name: Add the password initialization script
  template: src=init_password.j2 dest={{ ydb_dir }}/home/init_password.sh mode='755'

- name: Add the database creation script
  template: src=create_database.j2 dest={{ ydb_dir }}/home/create_database.sh mode='755'

- name: create static node configuration file
  command: "{{ ydb_dir }}/home/update_config_file.sh ydbd-config.yaml ydbd-config-static.yaml STORAGE {{ ydb_cores_static }}"
  changed_when: false

- name: create static node systemd unit
  template:
    src: ydbd-storage.service
    dest: "/etc/systemd/system/ydbd-storage.service"
  notify:
    - daemon reload

- name: flush handlers
  meta: flush_handlers

- name: format drives confirmation block
  when: ydb_allow_format_drives and not ydb_skip_data_loss_confirmation_prompt
  block:
    - name: ask user confirmation for format drives
      ansible.builtin.pause:
        prompt: 'RISK OF DATA LOSS: "ydb_allow_format_drives" is set to "true": this may cause data loss if not handled with care! Enter "yes" to continue.'
      register: prompt
      run_once: true

    - name: stop execution
      ansible.builtin.fail:
        msg: "aborting playbook execution"
      when: prompt.user_input != "yes"

- name: prepare drives
  ydb_platform.ydb.drive_prepare:
    name: "{{ item['name'] }}"
    label: "{{ item['label'] }}"
    ydbd_bin: "{{ ydb_dir }}/bin/ydbd"
    ld_library_path: "{{ ydb_dir }}/lib"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    allow_format: "{{ ydb_allow_format_drives }}"
  with_items: "{{ ydb_disks }}"

- name: start storage node
  ansible.builtin.systemd:
    name: ydbd-storage
    state: started
    enabled: true
  any_errors_fatal: true

- name: wait for ydb healthcheck switch to "GOOD" status
  ydb_platform.ydb.wait_healthcheck:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    user: "{{ ydb_user }}"
    password: "{{ ydb_password }}"
    enforce_user_token_requirement: "{{ ydb_enforce_user_token_requirement }}"
  run_once: true

- name: get ydb token
  ydb_platform.ydb.get_token:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    user: "{{ ydb_user }}"
    password: "{{ ydb_password }}"
  run_once: true
  register: ydb_credentials
  until: "'token' in ydb_credentials"
  retries: 10
  delay: 10

- name: wait for ydb discovery to start working locally
  ydb_platform.ydb.wait_discovery:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    token: "{{ ydb_credentials.token }}"
  any_errors_fatal: true

- name: Check ydb-dstool presence
  stat:
    path: "{{ ydb_dir }}/bin/ydb-dstool"
  register: ydb_dstool_exists

- name: install ydb-dstool (from ydb_dstool_binary)
  ansible.builtin.copy:
    src: "{{ ydb_dstool_binary }}"
    dest: "{{ ydb_dir }}/bin/ydb-dstool"
    mode: 0755
  when: not ydb_dstool_exists.stat.exists and ydb_dstool_binary is defined

- name: install ydb-dstool (from URL)
  ansible.builtin.get_url:
    url: https://storage.yandexcloud.net/blinkov-tmp/ydb-dstool # TODO: replace with a release URL
    dest: "{{ ydb_dir }}/bin/"
    mode: 0755
  when: not ydb_dstool_exists.stat.exists and ydb_dstool_binary is not defined

- name: init YDB storage if not initialized
  ydb_platform.ydb.init_storage:
    config_file: "{{ ydb_dir }}/cfg/ydbd-config-static.yaml"
    ydbd_bin: "{{ ydb_dir }}/bin/ydbd"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    token: "{{ ydb_credentials.token }}"
  register: init_storage
  run_once: true

- name: wait for ydb healthcheck switch to "GOOD" status
  ydb_platform.ydb.wait_healthcheck:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    token: "{{ ydb_credentials.token }}"
    enforce_user_token_requirement: "{{ ydb_enforce_user_token_requirement }}"
  run_once: true

- name: set cluster root password
  ydb_platform.ydb.set_user_password:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    user: "{{ ydb_user }}"
    new_password: "{{ ydb_password }}"
    token: "{{ ydb_credentials.token }}"
  run_once: true
  tags:
    - password
    
- name: Dynamic configs
  block:
  - name: Get the current dynconfig version
    ydb_platform.ydb.dynconfig_version:
      ydb_bin: "{{ ydb_dir }}/bin/ydb"
      ld_library_path: "{{ ydb_dir }}/lib"
      ca_file: "{{ ydb_dir }}/certs/ca.crt"
      endpoint: "grpcs://{{ inventory_hostname }}:2135"
      database: "/{{ ydb_domain }}"
      token: "{{ ydb_credentials.token }}"
    register: ydb_dynconfig_info

  - name: Add the dyn config
    template: src={{ ydb_custom_dynconfig }} dest={{ ydb_dir }}/cfg/ydbd-dyn-config.yaml mode='640'

  - name: Configure dyn config
    ydb_platform.ydb.dynconfig_apply:
      ydb_bin: "{{ ydb_dir }}/bin/ydb"
      ld_library_path: "{{ ydb_dir }}/lib"
      ca_file: "{{ ydb_dir }}/certs/ca.crt"
      endpoint: "grpcs://{{ inventory_hostname }}:2135"
      database: "/{{ ydb_domain }}"
      user: "{{ ydb_user }}"
      token: "{{ ydb_credentials.token }}"
      config: "{{ ydb_dir }}/cfg/ydbd-dyn-config.yaml"
  when: ydb_use_dynamic_config|bool
  run_once: true

