---

- name: stop dynamic nodes
  ansible.builtin.systemd:
    name: "ydbd-{{ item.dbname | default(ydb_database_name, true) }}-{{ item.instance }}.service"
    state: stopped
    enabled: false
  loop: "{{ ydb_dynnodes }}"