[ydbd_static]
ycydb-s1 ansible_ssh_host=ycydb-s1 ansible_ssh_user=yc-user
ycydb-s2 ansible_ssh_host=ycydb-s2 ansible_ssh_user=yc-user
ycydb-s3 ansible_ssh_host=ycydb-s3 ansible_ssh_user=yc-user
ycydb-s4 ansible_ssh_host=ycydb-s4 ansible_ssh_user=yc-user
ycydb-s5 ansible_ssh_host=ycydb-s5 ansible_ssh_user=yc-user
ycydb-s6 ansible_ssh_host=ycydb-s6 ansible_ssh_user=yc-user
ycydb-s7 ansible_ssh_host=ycydb-s7 ansible_ssh_user=yc-user
ycydb-s8 ansible_ssh_host=ycydb-s8 ansible_ssh_user=yc-user
ycydb-s9 ansible_ssh_host=ycydb-s9 ansible_ssh_user=yc-user

[ydbd_dynamic]
ycydb-s1 ansible_ssh_host=ycydb-s1 ansible_ssh_user=yc-user ydb_node_dc=zone-a ydb_node_rack=1 ydb_node_body=1
ycydb-s2 ansible_ssh_host=ycydb-s2 ansible_ssh_user=yc-user ydb_node_dc=zone-a ydb_node_rack=2 ydb_node_body=1
ycydb-s3 ansible_ssh_host=ycydb-s3 ansible_ssh_user=yc-user ydb_node_dc=zone-a ydb_node_rack=3 ydb_node_body=1
ycydb-s4 ansible_ssh_host=ycydb-s4 ansible_ssh_user=yc-user ydb_node_dc=zone-b ydb_node_rack=1 ydb_node_body=1
ycydb-s5 ansible_ssh_host=ycydb-s5 ansible_ssh_user=yc-user ydb_node_dc=zone-b ydb_node_rack=2 ydb_node_body=1
ycydb-s6 ansible_ssh_host=ycydb-s6 ansible_ssh_user=yc-user ydb_node_dc=zone-b ydb_node_rack=3 ydb_node_body=1
ycydb-s7 ansible_ssh_host=ycydb-s7 ansible_ssh_user=yc-user ydb_node_dc=zone-c ydb_node_rack=1 ydb_node_body=1
ycydb-s8 ansible_ssh_host=ycydb-s8 ansible_ssh_user=yc-user ydb_node_dc=zone-c ydb_node_rack=2 ydb_node_body=1
ycydb-s9 ansible_ssh_host=ycydb-s9 ansible_ssh_user=yc-user ydb_node_dc=zone-c ydb_node_rack=3 ydb_node_body=1
