# Possible access redefinitions:
#   ansible_host=somehost
#   ansible_user=someuser

[ydbd_static]
ycydb-s1
ycydb-s2
ycydb-s3
ycydb-s4
ycydb-s5
ycydb-s6
ycydb-s7
ycydb-s8
ycydb-s9

[ydbd_dynamic]
ycydb-d1 ydb_node_dc=zone-a ydb_node_rack=1 ydb_node_body=1
ycydb-d2 ydb_node_dc=zone-a ydb_node_rack=2 ydb_node_body=1
ycydb-d3 ydb_node_dc=zone-a ydb_node_rack=3 ydb_node_body=1
ycydb-d4 ydb_node_dc=zone-b ydb_node_rack=1 ydb_node_body=1
ycydb-d5 ydb_node_dc=zone-b ydb_node_rack=2 ydb_node_body=1
ycydb-d6 ydb_node_dc=zone-b ydb_node_rack=3 ydb_node_body=1
ycydb-d7 ydb_node_dc=zone-c ydb_node_rack=1 ydb_node_body=1
ycydb-d8 ydb_node_dc=zone-c ydb_node_rack=2 ydb_node_body=1
ycydb-d9 ydb_node_dc=zone-c ydb_node_rack=3 ydb_node_body=1
