#jinja2: trim_blocks:False
status:
  port: 16301

storages:
  - name: main
    plugin: fs
    config:
      directory: {{ unified_agent_home }}/storage
      max_partition_size: 50mb
      max_segment_size: 10mb

routes:
  - input:
      plugin: grpc
      config:
        uri: localhost:16400
        max_receive_message_size: 2mb
      flow_control:
        new_sessions_rate_limit: 50
    channel:
      pipe:
        - storage_ref:
            name: main
        - filter:
            plugin: assign
            config:
              message:
                - _payload: "{$short_host_name} ydbd[{_pid}]: {_payload}"
      fanout:
        - channel:
            pipe:
              - filter:
                  plugin: match
                  config:
                    session:
                      _log_name: audit
              - filter:
                  plugin: batch
                  config:
                    delimiter: "\n"
                    flush_period: 500ms
                    limit:
                      count: 100
            output:
              id: output_audit
              plugin: debug
              config:
                file_name: {{ ydb_dir }}/audit/ydb-audit.log
                delimiter: "\n"
                _test: {register_test_handlers: true}
        - channel:
            pipe:
              - filter:
                  plugin: match
                  config:
                    session:
                      _log_name: main
              - filter:
                  plugin: batch
                  config:
                    delimiter: "\n"
                    flush_period: 500ms
                    limit:
                      count: 100
            output:
              id: output_main
              plugin: debug
              config:
                file_name: {{ ydb_dir }}/logs/ydbd-main.log
                delimiter: "\n"
                _test: {register_test_handlers: true}
