#jinja2: trim_blocks:False
[Unit]
Description=YDB unified agent
After=network-online.target rc-local.service
Wants=network-online.target
StartLimitInterval=10
StartLimitBurst=15

[Service]
Restart=always
RestartSec=1
User=ydb
PermissionsStartOnly=true
SyslogIdentifier=ydb-unified-agent
SyslogFacility=daemon
SyslogLevel=err
ExecStart={{ unified_agent_home }}/unified_agent --config {{ unified_agent_home }}/unified_agent.yaml
LimitNOFILE=65536
LimitCORE=0

[Install]
WantedBy=multi-user.target
