{{ ydb_dir }}/audit/ydb-audit.log {
    daily
    missingok
    maxsize 500M
    compress
    delaycompress
    rotate 10
    notifempty
    postrotate
        curl http://localhost:16301/output_audit/reopen_file
    endscript
}

{{ ydb_dir }}/logs/ydbd-main.log {
    daily
    missingok
    maxsize 500M
    compress
    delaycompress
    rotate 10
    notifempty
    postrotate
        curl http://localhost:16301/output_main/reopen_file
    endscript
}
