#! /bin/sh
# Backup the YDB configuration files.

set +e
set +u

YDB_DIR="{{ ydb_dir }}"
BACKUP_DIR=${YDB_DIR}/reserve/"$1"

if [ -z "$1" ] || [ "$1" = "none" ]; then
  echo "$0: skipping configuration backup" >&2
  exit 0
fi

if [ -d ${BACKUP_DIR} ]; then
  echo "$0: target directory already exists" >&2
  exit 1
fi

set -e

preserve() {
  if [ -f "$1" ]; then
    cp -v "$1" ${BACKUP_DIR}/
  fi
}

mkdir -pv ${BACKUP_DIR}
chmod 700 ${BACKUP_DIR}
preserve ${YDB_DIR}/certs/ca.crt
preserve ${YDB_DIR}/certs/node.crt
preserve ${YDB_DIR}/certs/node.key
preserve ${YDB_DIR}/certs/web.pem
preserve ${YDB_DIR}/certs/web.pem
preserve ${YDB_DIR}/cfg/ydbd-config.yaml
preserve ${YDB_DIR}/cfg/ydbd-static.yaml
preserve ${YDB_DIR}/cfg/ydbd-dynamic.yaml

# End Of File