- name: check if install method is defined
  ansible.builtin.assert:
    that:
      - (ydb_fq_connector_version is defined) or
        (ydb_fq_connector_git_version is defined) or
        (ydb_fq_connector_archive is defined) or
        (ydb_fq_connector_binary is defined)
    fail_msg: |
      fq-connector-go install method not defined: use one of:
        - ydb_fq_connector_version
        - ydb_fq_connector_git_version
        - ydb_fq_connector_archive
        - ydb_fq_connector_binary

- name: check if ydb_fq_connector_config is defined
  ansible.builtin.assert:
    that:
      - ydb_fq_connector_config is defined
    fail_msg: "ydb_fq_connector_config variable with local fq-connector-go config path is required"

- name: check if ydb_dynnodes is defined
  ansible.builtin.assert:
    that:
      - ydb_dynnodes is defined
    fail_msg: "ydb_dynnodes variable with ydb dynnode instances list is required"

- name: create ydb-fq-connector directory
  file:
    path: "{{ ydb_fq_connector_dir }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: create ydb-fq-connector bin directory
  file:
    path: "{{ ydb_fq_connector_dir }}/bin"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: create ydb-fq-connector cfg directory
  file:
    path: "{{ ydb_fq_connector_dir }}/cfg"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: create ydb-fq-connector group
  group:
    name: ydb-fq-connector
    system: true

- name: create ydb-fq-connector user
  user:
    name: ydb-fq-connector
    group: ydb-fq-connector
    system: true
    comment: "YDB FQ connector Service Account"

- name: install ydb-fq-connector binary
  block:
  - name: download fq-connector-go archive
    import_tasks:
      file: download_connector.yaml
    when: ydb_fq_connector_version is defined

  - name: build fq-connector-go
    import_tasks:
      file: build_connector.yaml
    when: ydb_fq_connector_git_version is defined

  - name: install ydb-fq-connector binary from archive
    import_tasks:
      file: install_connector_from_archive.yaml
    when: ydb_fq_connector_archive is defined

  - name: install ydb-fq-connector binary from file
    import_tasks:
      file: install_connector_using_binary.yaml
    when: ydb_fq_connector_binary is defined

- name: install ydb-fq-connector config
  copy:
    src: "{{ ydb_fq_connector_config }}"
    dest: "{{ ydb_fq_connector_dir }}/cfg/ydb-fq-connector.yaml"
    mode: 0644

- name: set ydb-fq-connector instance list
  ansible.builtin.set_fact:
    ydb_fq_connectors_list:
      - instance: "{{ ydb_dynnodes[0].instance }}"
        offset: 0
  when: not ydb_fq_connector_multislot

- name: set ydb-fq-connector instance list
  ansible.builtin.set_fact:
    ydb_fq_connectors_list: "{{ ydb_dynnodes }}"
  when: ydb_fq_connector_multislot

- name: parse ydb-fq-connector config
  ansible.builtin.set_fact:
    ydb_fq_connector_config_obj: "{{ lookup('file', ydb_fq_connector_config) | from_yaml }}"

- name: create ydb-fq-connector instance systemd units
  template:
    src: ydb-fq-connector.service
    dest: "/etc/systemd/system/ydb-fq-connector-{{ ydb_dbname }}-{{ item.instance }}.service"
  loop: "{{ ydb_fq_connectors_list }}"
  notify:
    - daemon reload

- name: flush handlers
  meta: flush_handlers

- name: start ydb-fq-connector instances
  ansible.builtin.systemd:
    name: "ydb-fq-connector-{{ ydb_dbname }}-{{ item.instance }}.service"
    state: started
    enabled: true
  loop: "{{ ydb_fq_connectors_list }}"
