---
# ydbd installation

- name: Display the distribution type
  ansible.builtin.debug:
    var: ansible_distribution

- name: Ensure libaio1 is installed
  ansible.builtin.package:
    name: libaio1
    state: present
  when: ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian' or ansible_distribution == 'Astra Linux'

- name: Ensure libaio is installed
  ansible.builtin.package:
    name: libaio
    state: present
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'AlmaLinux' or ansible_distribution == 'RED'

- name: Ensure jq is installed
  ansible.builtin.package:
    name: jq
    state: present
    cache_valid_time: 3600
  timeout: 300

- name: Deploy custom libidn
  block:
    - name: Unpacking custom libidn
      unarchive: creates=/usr/local/lib/libidn.so.11 dest=/usr/local/lib group=bin owner=root src={{ libidn_archive }}
    - name: Symlinking libidn.so.11 to /lib64
      ansible.builtin.file:
        src: /usr/local/lib/libidn.so.11
        dest: /lib64/libidn.so.11
        owner: root
        group: bin
        state: link
    - name: Symlinking libidn.so.11 to /usr/lib
      ansible.builtin.file:
        src: /usr/local/lib/libidn.so.11
        dest: /usr/lib/libidn.so.11
        owner: root
        group: bin
        state: link
    - name: Symlinking libidn.so.12 to /usr/lib
      ansible.builtin.file:
        src: /usr/local/lib/libidn.so.12
        dest: /usr/lib/libidn.so.12
        owner: root
        group: bin
        state: link
  when: libidn_archive is defined

- name: Create the ydb group
  group:
    name: ydb
    system: true

- name: Create the ydb user
  user:
    name: ydb
    group: ydb
    groups: disk
    system: true
    create_home: true
    home: "{{ ydb_dir }}/home"
    comment: "YDB Service Account"

- name: Install the YDB server binary package
  ansible.builtin.unarchive:
    creates: "{{ ydb_dir }}/bin/ydbd"
    dest: "{{ ydb_dir }}"
    group: bin
    owner: root
    src: "{{ ydb_archive }}"
    extra_opts: "{{ ydb_unpack_options }}"

- name: Create the YDB configuration directory
  file: state=directory path={{ ydb_dir }}/cfg group=bin owner=root mode=755

- name: Create the YDB audit directory
  file: state=directory path={{ ydb_dir }}/audit group=ydb owner=ydb mode=700

- name: Create the YDB certs directory
  file: state=directory path={{ ydb_dir }}/certs group=ydb owner=ydb mode=700

- name: Create the YDB configuration backup directory
  file: state=directory path={{ ydb_dir }}/reserve group=ydb owner=ydb mode=700

- name: Disable YDB CLI version checks
  command: "sudo -u ydb LD_LIBRARY_PATH={{ ydb_dir }}/lib {{ ydb_dir }}/bin/ydb version --disable-checks"

- name: Copy the thp-config.sh script
  copy: src=thp-config.sh dest={{ ydb_dir }}/bin/thp-config.sh

- name: Generate the THP service files
  template:
    src: thp-service.j2
    dest: "/etc/systemd/system/ydb-hugepages.service"

- name: Refresh systemd services configuration
  ansible.builtin.systemd:
    daemon_reload: true

- name: Activate THP
  ansible.builtin.systemd:
    enabled: true
    state: started
    name: ydb-hugepages
