[Unit]
Description=FQ connector for YDB dynamic node / {{ ydb_dbname }} / {{ item.instance }}
StartLimitInterval=10
StartLimitBurst=15
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=connector
ExecStart={{ connector_dir }}/fq-connector-go server -c {{ connector_dir }}/fq-connector-go.yaml \
    --connector-port {{ connector_config.connector_server.endpoint.port + item.offset }}{% if connector_config.metrics_server is defined %} \
    --metrics-port {{ connector_config.metrics_server.endpoint.port + item.offset }}{% endif %}{% if connector_config.pprof_server is defined %} \
    --pprof-port {{ connector_config.pprof_server.endpoint.port + item.offset }}{% endif %}

Restart=always
RestartSec=1
SyslogIdentifier=fq-conector
SyslogFacility=daemon
SyslogLevel=info

[Install]
WantedBy=multi-user.target
