- name: wait for multi-user.target
  shell: systemctl -q is-active multi-user.target
  register: result
  until: result.rc == 0
  retries: 60
  delay: 10
  changed_when: false

- name: gather information using ansible setup module
  ansible.builtin.setup:
    gather_subset:
      - distribution
      - network
      - python
      - processor
  timeout: 300

- name: gather services information
  ansible.builtin.service_facts:
  timeout: 300

- name: assert usage of systemd as an init system
  ansible.builtin.assert:
    that: ansible_service_mgr == 'systemd'
    msg: "only systemd service manager is supported"

- name: set collection level constants
  set_fact:
    ydb_dir: /opt/ydb

- name: Check current user
  ansible.builtin.command: whoami
  register: current_user

- name: Check conditions in variables (1. dynamic config)
  ansible.builtin.fail:
    msg: "Impossible to use ydb_enforce_user_token_requirement and ydb_request_client_certificate together"
  when: ydb_use_dynamic_config is defined and ydb_use_dynamic_config|bool and ydb_enforce_user_token_requirement|bool and ydb_request_client_certificate|bool

- name: Load configuration from file if path provided
  when: ydb_config_dict is not defined
  become: false
  run_once: true
  block:

    - name: Check if ydb_config is a file path
      set_fact:
        is_config_file: "{{ ydb_config is string }}"
    
    - name: Register ydb_config_dict from ydb_config var
      ansible.builtin.set_fact:
        ydb_config_dict: "{{ ydb_config }}"
      when: not is_config_file|bool

    - name: Verify config file exists
      ansible.builtin.stat:
        path: "{{ ydb_config }}"
      register: config_file
      delegate_to: localhost  # Проверяем файл на control node
      when: is_config_file|bool

    - name: Fail if file missing
      ansible.builtin.fail:
        msg: "Config file {{ ydb_config }} not found"
      when: is_config_file|bool and not config_file.stat.exists

    - name: Read configuration file
      ansible.builtin.include_vars:
        file: "{{ ydb_config }}"
        name: ydb_config_dict
      when: is_config_file|bool
