- name: Check if required variables are defined
  ansible.builtin.assert:
    that:
      - "{{ item }} is defined"
    fail_msg: "{{ item }} variable is required"
  loop:
    - ydb_domain
    - ydb_pool_kind
    - ydb_cores_dynamic
    - ydb_brokers
    - ydb_dbname
    - ydb_dynnodes

- name: Create dynamic node configuration file
  command: "{{ ydb_dir }}/home/update_config_file.sh ydbd-config.yaml ydbd-config-dynamic.yaml COMPUTE {{ ydb_cores_dynamic }}"
  changed_when: false

- name: Create dynamic node systemd unit
  template:
    src: ydbd-dynnode.service
    dest: "/etc/systemd/system/ydbd-{{ ydb_dbname }}-{{ item.instance }}.service"
  loop: "{{ ydb_dynnodes }}"
  notify:
    - daemon reload

- name: flush handlers
  meta: flush_handlers

- name: start dynamic nodes
  ansible.builtin.systemd:
    name: "ydbd-{{ ydb_dbname }}-{{ item.instance }}.service"
    state: started
    enabled: true
  loop: "{{ ydb_dynnodes }}"

- name: Get YDB token
  ydb_platform.ydb.get_token:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ld_library_path: "{{ ydb_dir }}/lib"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}"
    user: "{{ ydb_user }}"
    password: "{{ ydb_password }}"
  run_once: true
  register: ydb_credentials
  until: "'token' in ydb_credentials"
  retries: 10
  delay: 10

- name: Create YDB database
  ydb_platform.ydb.create_database:
    ydbd_bin: "{{ ydb_dir }}/bin/ydbd"
    ld_library_path: "{{ ydb_dir }}/lib"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:2135"
    database: "/{{ ydb_domain }}/{{ ydb_dbname }}"
    token: "{{ ydb_credentials.token }}"
    pool_kind: "{{ ydb_pool_kind }}"
    groups: "{{ ydb_database_groups }}"
  run_once: true
  retries: 50
  delay: 15
  tags:
    - create_database

- name: Wait for ydb discovery to start working locally
  ydb_platform.ydb.wait_discovery:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ld_library_path: "{{ ydb_dir }}/lib"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:{{ 2136 + item.offset }}"
    database: "/{{ ydb_domain }}/{{ ydb_dbname }}"
    token: "{{ ydb_credentials.token }}"
  loop: "{{ ydb_dynnodes }}"
  retries: 5

- name: Delay for 1 min
  pause:
    seconds: 60

- name: Run test queries
  ydb_platform.ydb.run_test_queries:
    ydb_bin: "{{ ydb_dir }}/bin/ydb"
    ld_library_path: "{{ ydb_dir }}/lib"
    ca_file: "{{ ydb_dir }}/certs/ca.crt"
    endpoint: "grpcs://{{ ydb_front | default(inventory_hostname) }}:{{ 2136 + item.offset }}"
    database: "/{{ ydb_domain }}/{{ ydb_dbname }}"
    user: "{{ ydb_user }}"
    password: "{{ ydb_password }}"
  loop: "{{ ydb_dynnodes }}"
  throttle: 1
  tags:
    - tests
