[Unit]
Description=YDB FQ connector for YDB dynamic node / {{ ydb_database_name | default(ydb_dbname, true) }} / {{ item.instance }}
StartLimitInterval=10
StartLimitBurst=15
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ydb-fq-connector
ExecStart={{ ydb_fq_connector_dir }}/bin/{{ ydb_fq_connector_executable }} server -c {{ ydb_fq_connector_dir }}/cfg/ydb-fq-connector.yaml \
    --connector-port {{ ydb_fq_connector_config_obj.connector_server.endpoint.port + (item.offset | default(ydb_dynnodes.index(item))) }}{% if ydb_fq_connector_config_obj.metrics_server is defined %} \
    --metrics-port {{ ydb_fq_connector_config_obj.metrics_server.endpoint.port + (item.offset | default(ydb_dynnodes.index(item))) }}{% endif %}{% if ydb_fq_connector_config_obj.pprof_server is defined %} \
    --pprof-port {{ ydb_fq_connector_config_obj.pprof_server.endpoint.port + (item.offset | default(ydb_dynnodes.index(item))) }}{% endif %}

Restart=always
RestartSec=1
SyslogIdentifier=ydb-fq-connector
SyslogFacility=daemon
SyslogLevel=info

[Install]
WantedBy=multi-user.target
