[Unit]
Description=YDB FQ connector for YDB dynamic node / {{ ydb_dbname }} / {{ item.instance }}
StartLimitInterval=10
StartLimitBurst=15
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ydb-fq-connector
ExecStart={{ ydb_fq_connector_dir }}/bin/{{ ydb_fq_connector_executable }} server -c {{ ydb_fq_connector_dir }}/cfg/ydb-fq-connector.yaml

Restart=always
RestartSec=1
SyslogIdentifier=ydb-fq-connector
SyslogFacility=daemon
SyslogLevel=info

[Install]
WantedBy=multi-user.target
