---
# YDB restart dynamic nodes on a single host

- name: Restart the dynamic nodes on {{ hostname }}
  ansible.builtin.systemd:
    state: restarted
    name: "ydbd-{{ ydb_dbname }}-{{ item.instance }}"
  throttle: 1
  loop: "{{ ydb_dynnodes }}"
  any_errors_fatal: true
  become: true
  become_method: sudo
  become_user: root

- name: Wait for dynamic nodes on {{ dynnode_name }} to start listening
  ansible.builtin.wait_for:
    port: "{{ 2136 + offset }}"
    delay: 3
    sleep: 3
  loop: "{{ ydb_dynnodes }}"
  loop_control:
    index_var: offset

- name: Additional delay to settle the dynamic nodes
  ansible.builtin.pause: seconds={{ ydb_dynnode_restart_sleep_seconds | default(5) }}
