#! /bin/sh
# List the services for all YDB databases on the current host.

set +e
set +u

(cd /etc/systemd/system && ls ydbd-*-*.service) | while read sn; do
  NM=`basename $sn`
  DB=`echo $sn | sed -n 's|ydbd-\([a-zA-Z][a-zA-Z0-9]*\)-.*|\1|p'`
  STATE=`systemctl show -pUnitFileState $sn | grep enabled`
  PORT=`systemctl show -pExecStart $sn | sed -n 's|.*grpcs-port \([0-9][0-9]*\).*|\1|p'`
  if [ ! -z "$STATE" ]; then
    echo ${NM} ${DB} ${PORT}
  fi
done

# End Of File
