- name: check if ydbd present
  stat:
    path: "{{ ydb_dir }}/bin/ydbd"
  register: ydbd_stat

- name: unpack YDB server archive
  ansible.builtin.unarchive:
    src: "{{ ydb_archive }}"
    dest: "{{ ydb_dir }}"
    owner: root
    group: root
    extra_opts: "{{ ydb_archive_unpack_options }}"
