[Unit]
Description=Configure Transparent Huge Pages (THP)
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=ydbd-storage.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/local/bin/ydbd-thp-config.sh

[Install]
WantedBy=basic.target
