- hosts: "{{ playbook_hosts | default('ydb') }}"
  become: true
  tasks:
    - name: setup packages
      ansible.builtin.import_role:
        name: ydb_platform.ydb.packages
      when: ydb_tools_install|bool

    - name: configure system
      ansible.builtin.import_role:
        name: ydb_platform.ydb.system

    - name: setup ydb
      ansible.builtin.import_role:
        name: ydb_platform.ydb.ydbd
    
    - name: setup fq-connector
      ansible.builtin.import_role:
        name: ydb_platform.ydb.ydb_fq_connector
      when: ydb_install_fq_connector | default(false)

    - name: setup ydb static nodes
      ansible.builtin.import_role:
        name: ydb_platform.ydb.ydbd_static

    - name: setup ydb dynamic nodes
      ansible.builtin.import_role:
        name: ydb_platform.ydb.ydbd_dynamic
