- hosts: localhost
  roles:
  - role: inventory_hosts
- name: setup YDB connectivity on site
  hosts: "{{ playbook_hosts | default('ydb') }}"
  become: true
  tasks:
    - name: setup ipv4 connectivity
      ansible.builtin.import_role:
        name: ydb_platform.ydb.site_ipv4_connectivity
